@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Labrada&display=swap');
body {
    margin: 0 auto;
    padding: 0;
    width: 75%;
    background-color: #e5e5e6;
}
.content {
    max-width: 1600px;
}
header {
    display: grid;
    grid-template-columns: 100px auto;
    background-color: #586f6b;
    padding: 0;
    border: #E97120 solid 2px;
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    grid-template-columns: 1fr 5fr;
}
#logo {
    max-width: 125px;
    width: 90%;
    padding: 5%;
    margin: auto;
}
header img {
    width: 100%;
    padding: 5%;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    margin: auto;
    color: #e5e5e6;
    text-align: center;
    text-decoration: none;
    padding: 2%;
}
nav a {
    font-family: 'Crimson Text';
    font-size: xx-large;
}
nav a:hover {
    background-color: #650d1b;
    border: #E97120 solid 2px;
    border-radius: 10px;
}
#hero {
    border-right: #E97120 solid 2px;
    border-left: #E97120 solid 2px;
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
}
#hero img {
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
}
#hero h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-family: 'Labrada';
    color: #e5e5e6;
    background-color: rgba(88, 111, 107, .5);
    border-radius: 10px;
    padding: 10px;
}
p {
    font-family: 'Crimson Text';
}
#purpose {
    margin: 0 auto;
    padding: 1% 2%;
    background-color: rgba(88, 111, 107, 1);
    color: #e5e5e6;
    border: #E97120 solid 2px;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h1, h2, h3, h4 {
    font-family: 'Labrada';
}
#purpose img {
    width: 100%;
}
#purpose h2, #purpose h3 {
    margin: 5px;
    font-size: 1.5em;
}
#purpose p {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 1.2em;
}
.subpages {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    text-align: center;
    grid-gap: 5%;
    margin-top: 10px;
}
.subpages p {
    border-radius: 10px;
    color: #e5e5e6;
    font-size: 1.5em;
}
#subpage1 a{
    text-decoration: none;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #650d1b;
    padding: 5px;
    border-radius: 10px;
    border: #E97120 solid 2px;
    display: grid;
}
#subpage2 a{
    text-decoration: none;
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #650d1b;
    padding: 5px;
    border-radius: 10px;
    border: #E97120 solid 2px;
    display: grid;
}
/* #subpage1:hover img{
    opacity: 0.8;
} */
.subpages img {
    width: 95%;
    margin: 0;
    border-radius: 10px;
    transition: transform .5s;
}
/* .subpages img:hover {
    border: #E97120 solid 2px;
    border-radius: 10px;
    transform: scale(1.05);
    /* box-shadow: 5px 5px 5px 5px #e5e5e6; */
#subpage1 a p {
    text-decoration: none;
    opacity: 0;
    margin: auto;
    width: 80%;
    text-align: center;
    z-index: 1;
    grid-area: 1/ 1/ 2 /2;
    background-color: #650d1b;
    transition: .5s ease;
}
#subpage1 a img {
    margin: 5px auto;
    grid-area: 1/ 1/ 2 /2;
    transition: .5s;
}
#subpage1:hover p {
    opacity: .9;
}
#subpage1:hover a img {
    transform: scale(1.05);
    opacity: .7;
}
#subpage2 a p {
    opacity: 0;
    margin: auto;
    width: 80%;
    text-align: center;
    z-index: 1;
    grid-area: 1/ 1/ 2 /2;
    background-color: #650d1b;
    transition: .5s ease;
}
#subpage2 a img{
    margin: 5px auto;
    grid-area: 1/ 1/ 2 /2;
    transition: .5s;
}
#subpage2:hover p {
    opacity: .9;
}
#subpage2:hover a img {
    transform: scale(1.05);
    opacity: .7;
}

/* ***Learn More Page*** */

.top {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #650d1b;
    border-radius: 0 0 10px 10px;
    border: #E97120 solid 2px;
    border-top: 0;
}
    .top img {
        width: 100%;
        margin: auto;
        grid-column: 1/2;
        grid-row: 1/3;
        /* padding: 5%; */
    }
    .top h1 {
        padding: 5%;
        color: #e5e5e6;
        margin: auto;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .top p {
        border-radius: 10px;
        padding: 5%;
        margin: 5%;
        color: #e5e5e6;
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: rgba(88, 111, 107, .9);
    }

footer {
    margin-top: 10px;
    display: flex;
    padding: 15px 50px;
    background-color: #586f6b;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: #E97120 solid 2px;
    border-bottom: 0px;
}
footer p {
    font-size: 24px;
    color: #e5e5e6;
}
footer a {
    color: #e5e5e6;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}