

body {
    font-family: 'Roboto Slab';
}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: steelblue;
    color: beige;
    font-family: Merriweather;
}
main {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
}
img {
    width: 100%;
}
.content {
    margin: 0  auto;
    text-align: center;
    width: 500px;
}
.box1 {
    padding: 0px;
}
.box2 {
    padding: 0px;
}
h1 {
    font-weight:bolder;
}
.p-text {
    color:darkgrey;
    margin: 20px;
    padding: 10%;
}










/* body{
    text-align: center;
    background-color: black;
}
img{
    width: 100%;
}
main{
    width: 500px;
    margin: 0 auto;
    max-width: 33%;
    background-color: white;
    margin-bottom: 0%;
}
footer{
    margin: 0 auto;
    width: 500px;
    max-width: 33%;
    margin-top: 0%;
    background-color: steelblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
p {
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5% 5%;
    color: dimgray;
}
h2 {
    color: white;
    margin: 0;
}
h4 {
    color: white;
    margin: 0;
}
sup {
    margin-left: 0;
}
.box1 {
    grid-column: 1/2;
}
.box2 {
    grid-column: 2/3;
}
.box3 {
    grid-column: 3/4;
} */